*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    position: relative;
    font-family: 'SFNSText', 'Helvetica Neue', 'Microsoft Yahei', 'SimHei', sans-serif;
//  font-family: 'SFNSDisplay', 'SFNSText', 'Helvetica Neue', sans-serif;
}
img{
    border:none;
}
ul,ol{
    list-style:none;
}
a{
    text-decoration:none;
}
@mixin top-bottom{
    position: absolute;
    top: 0;
    bottom: 0;
    margin: 0;
}
@mixin left-right{
    position: absolute;
    left: 0;
    right: 0;
    margin: 0;
}
@mixin center{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0;
}